
roboto-serif-font {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "GRAD" 0;
  }

html{
    background-color: black;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "roboto Serif";
}
.post{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 350px;
    height: 480px;
    padding: 0;
    margin: 0;
}

.post-header{
    width: 330px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}  
.post-header p {
    font-size: 12px;
}
.post-heder-icons{
    display: flex;
    align-items: center;
    margin: 3px;
}

.post-img{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}
img {
    width: 100%;
}
.post-icons{
    width: 320px;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    justify-content: space-between;
}
.post-icons > div:nth-child(-n + 3){
    justify-content:flex-start;
    align-content: flex-start;
}
.post-body{
    width: 320px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
    border-top: 0;  
}
.post-body p {
    margin: 3px;
    padding: 0;
}