html{
    background-color: black;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.post{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 350px;
    height: 550px;
    padding: 0;
    margin: 0;
}
.post-header{
    width: 330px;
    padding: 10px;
}  
.post-heder-icons{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}


.post-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 10px;
}
.post-icons{
    width: 320px;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    padding: 15px;
}
.post-icons > div:nth-child(4) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}



.post-body{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
    border-top: 0;  
}
.post-body p {
    margin: 3px;
    padding: 0;
}